/* css 주석 */

/* css 파일 내부 == <style> 태그 내부 */

/* 모든 선택자: "*" */

* {
    /* color: 글자 색상 지정하는 CSS 속성 */
    color: blue;
}

/* 태그 선택자 (tag name) */
p {
    color: pink;
}

pre {
    color : magenta;
}

/* 여러 선택자를 동시에 작성하는 방법 */
p, pre {
    /* text-decoration -> 글자에 선을 넣어서 꾸미는 속성 */
    text-decoration: underline;
}

/* id 선택자 */
#id-title {
    color: red;
    /* font-style: 글꼴 스타일 변경 속성*/
    font-style: italic;
}

#test1 {
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
    border: 3px solid black; /* 테두리 지정 속성 */
    background-color: deepskyblue;
}

/* class 선택자 */
.class1 {
    background-color: black;
    color: yellow;
}

.class2 {
    background-color: yellow;
    color: black;
}