/* 글 방향 L -> R (왼쪽정렬) */
#p1 {
    direction: ltr; /* 기본값 */
}

/* 글 방향 R -> L (오른쪽 정렬) */
#p2 {
    direction: rtl;
}

/* 텍스트 정렬하기 */
#p3 {
    text-align: left; /* 기본 값 */
}

#p4 {
    text-align: right;
}

#p5 {
    text-align: center;
}

#p6  {
    /* 글자를 양 끝에 붙이고 문장 사이 자간을 자동으로 조정한다 */
    text-align: justify;
}

/* 줄 간격 조절*/
#p7 {
    line-height: normal; /* 기본값 */
}

#p8 {
    line-height: 30px;
}

#p9 {
    line-height: 2.5em;
}

#p10 {
    /* % -> 글자 크기 기준 */
    line-height: 200%;
}