div {
    width: 100px;
    height: 100px;
    border-width: 3px;
}

.border-test1{
    /* 기본 값(테두리 없음)*/
    border-style: none;
}

.border-test2{
    border-style:hidden;
    box-shadow:5px 5px 3px 2px gray;
}

.border-test3{
    border-style:dotted;
}

.border-test4{
    border-style:dashed;
    border-top-color:blue;
}

.border-test5{
    border-style:double;
    border-color:blue;
}

.border-test6{
    border-style:groove;
    border-top-left-radius:50px;
}

.border-test7{
    border-style:inset;
    border-bottom-right-radius:50px;
}

.border-test8{
    border-style:outset;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
}

.border-test9{
    border-style:ridge;
    box-shadow:5px 5px 3px 2px gray;
}

.border-test10{
    border-style:solid;
    box-shadow:5px 5px 3px 2px gray;
}