.float-test {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    float: left;
}

.float-test4, .float-test5 {
    float: right;
}

.bg-float {
    clear: both; /* 양쪽 float를 제거해서 겹치는 현상 없애기 */
    height: 100px;
    background: #ff8800;
}


/* 좌우 2분할 */
.container-1  {
    width: 500px;
    height: 200px;
    border: 3px solid red;
}

.col-1 {
    box-sizing: border-box;
    border: 1px solid black;
    width: 50%;
    height: 100%;
    float: left;
}

.col-1:nth-child(1){
    background: black;
}
.col-1:nth-child(2){
    background: pink;
}

/* 배치 관련 스타일(position) */
/*
    position은 요소의 위치를 지정하는 속성

    position : relative;  (상대적인)
    - 지정된 요소 내부에 다른 요소가
      상대적인 위치를 지정할 수 있도록
      기준이 되게 만드는 속성.

    - 내부에 작성되는 요소에 위치 지정 시
      top, bottom, left, right 속성을 사용할 수 있음.


    position : absolute; (절대적인)
    - 기본 요소의 배치 순서를 무시하고 지정된 절대 위치에 요소를 배치함.


    position : fixed; (고정된)
    - 항상 고정된 위치에 요소를 배치함. (화면이 움직이든 말든 항상 같은 위치)


    position : sticky
    - 원래 요소가 보여지는 화면이라면 position X
    - 요소가 보여지는 화면을 벗어나면 fixed


    z-index : 정수
    - position : absolute 상태의 요소의
      z축 방향으로 올라와 있는 정도를 지정하는 속성
      (같은 기준 요소(relative) 를 가진 요소만 설정 가능)
      (기본값 0, 수치가 같으면 마지막 해석된 요소가 제일 위)
*/


.outer {
    border: 1px solid black;
    width: 400px;
    height: 400px;

    /* 내부 요소 중 absolute인 요소의 기준 점으로 설정 */
    position: relative;
}

.first {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    background: red;

    /* absolute, fixed, sticky 에서만 적용됨*/
    position: absolute;
    left: 50px;
    top: 50px;

    z-index: 10;
}

.second {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background: orange;

    /* absolute, fixed, sticky 에서만 적용됨*/
    position: absolute;
    left: 100px;
    top: 100px;

    z-index: 11;
}

.third {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background: yellow;

    /* absolute, fixed, sticky 에서만 적용됨*/
    position: absolute;
    left: 150px;
    top: 150px;

    z-index: 12;
}

/* fixed */
.top-btn {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    user-select: none;
    background: white;

    position: fixed;
    bottom: 30px;
    right: 30px;
}

html {
    scroll-behavior: smooth;
}

/* sticky */
.sticky {
    background: steelblue;
    color: white;
    font-weight: bold;
    padding: 30px;

    position: sticky;
    top: 0;
    left: 0;
}

