.item {
    background: lightcoral;
    color: white;
    padding: 10px;
    margin: 10px;
}


.container {
    display: grid;

    /* 그리드 컬럼 구분 및 너비 지정 */
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-columns: repeat(3, 200px);
    grid-template-columns: 100px auto 200px;

    /* fr : fractional unit(유분수 단위)
      -> 그리드 공간을 일정 비율로 나눌 때 사용
    */
    grid-template-columns: 1fr 2fr 1fr;

    /* gap : 간격 */
    row-gap: 20px;
    column-gap: 10px;

    gap: 30px; /* 행/열 간격 모두 30px 떨어짐*/

    /* 그리드 행 너비 지정 */
    grid-template-rows: 200px 200px 200px;
    grid-template-rows: repeat(3, 100px);

    /* 그리드 모든 행 너비 자동 지정 */
    grid-auto-rows: 100px;
}


.item:nth-child(1) {
    /* 열 병합 */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3; /* start/end*/
}

.item:nth-child(3) {
    /* 열 병합 */
    grid-column: 1/4; /* start/end*/
    background: green;
}

.item:nth-child(3) {
    /* 열 병합 */
    grid-column: 1/4; /* start/end*/
    background: green;
}

.item:nth-child(4) {
    /* 행 병합 */
    grid-row: 3/5; /* start/end*/
    background: blue;
}

.item:nth-child(5) {
    /* 행 병합 */
    grid-row: 3/5; /* start/end*/
    grid-column: 2/4;
    background: yellow;
}

.container-2 {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 200px 200px 80px;

    /* 그리드 모양을 별칭을 이용해 지정 */
    grid-template-areas:
    "header header header" /* "" 한개당 1행 */
    "sidebar content content"
    "sidebar content content"
    "footer footer footer";
}

.header {
    background: skyblue;
    grid-area: header;
}

.sidebar {
    background: pink;
    grid-area: sidebar;
}

.content {
    background: green;
    grid-area: content;
}

.footer {
    background: violet;
    grid-area: footer;
}