@keyframes trans1 {
    from {
        background: green;
        border: 1px solid black;
    }
    to {
        background: yellow;
        border-radius: 50px;
        transform: rotateZ(360deg);
        border: 3px solid red;
    }
}

@keyframes trans2 {
    0% {
        background-color: green;
        border: 3px solid black;
    }
    30% {
        transform: translate(50px, 50px);
    }
    50% {
        background-color: hotpink;
        transform: scale(1.2);
        border: 3px solid yellow;
    }
    100% {
        background-color: blue;
        transform: rotateZ(45deg);
        border: 3px solid red;
    }
}

.div1 {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: gray;
    animation-name: trans1;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 2;
}

.div2 {
    margin: 100px;
    width: 100px;
    height: 100px;
    animation-name: trans2;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

img {
    margin: 100px;
    width: 500px;
    height: 500px;
    animation-name: trans1;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}