header {
    background: blue;
    width: 500px;
    height: 50px;
}

nav {
    float: left;
    width: 80px;
    height: 300px;
    background: red;
}

section {
    float: left;
    width: 340px;
    height: 300px;
    background: green;
}

article {
    width: 300px;
    height: 90px;
    margin: auto;
}

.a1 {
    background: yellowgreen;
}

.a2 {
    background: pink;
}

.a3 {
    background: cyan;
}

aside {
    float: left;
    width: 80px;
    height: 300px;
    background: cornsilk;
}

footer {
    width: 500px;
    background: purple;
}header {
     background: blue;
     width: 500px;
     height: 50px;
 }

nav {
    float: left;
    width: 80px;
    height: 300px;
    background: red;
}

section {
    float: left;
    width: 340px;
    height: 300px;
    background: green;
}

article {
    width: 300px;
    height: 90px;
    margin: auto;
}

.a1 {
    background: yellowgreen;
}

.a2 {
    background: pink;
}

.a3 {
    background: cyan;
}

aside {
    float: left;
    width: 80px;
    height: 300px;
    background: cornsilk;
}

footer {
    width: 500px;
    background: purple;
}